body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    font-size: 16px;
    line-height: 1.4;
    color: #333;
    background-color: #FFF;
    box-sizing: border-box;
}

/* %% LAYOUT %%*/
.section {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3px;
    margin-bottom: 8px;
    margin-top: 8px;
}
.profile {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
@media (min-width: 992px) {
    .profile {
        width: 970px;
    }
}

#header {
    margin-top: 20px;
}
#profile-picture {
    grid-column: span 6;
    text-align: right;
    padding-top: 40px;
}
#profile-description {
    grid-column: span 6;
    padding-top: 40px;
    padding-left: 20px;
}
@media (max-width: 991px) {
    #profile-picture {
      grid-column: span 12;
      text-align: center;
    }
    #profile-description {
      grid-column: span 12;
      padding-top: 20px;
      text-align: center;
    }
}

#profile-description h1 {
    font-size: 40px;
    font-weight: normal;
    letter-spacing: .2rem;
    padding: 0;
    margin: 0;
}
#profile-description h3 {
    font-size: 14px;
    font-weight: normal;
    color: #555;
    padding: 0;
    margin: 2px 0 5px 0;
}
#profile-description h3 a {
    text-decoration: none;
}
#profile-description h2 {
    font-size: 18px;
    font-weight: normal;
    color: #888;
    padding: 0;
    margin: 8px 0 10px 0;
}
@media (min-width: 992px) {
    #profile-description h2 {
        max-width: 300px;
    }
    #profile-contact-info {
        max-width: 300px;
    }
}

#profile-picture img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#profile-contact-info {
    /* border: 2px solid #007FFF; */
    margin-top: 10px;
}
#profile-contact-info a {
    text-decoration: none;
}

#profile-contact-info img {
    padding-right: 12px;
    transition: transform .08s ease-in-out;
}
#profile-contact-info img:hover {
    transform: scale(1.1);
}

#email {
    display: inline-block;
    color: #007FFF;
}

#audio-wave-line {
    text-align: center;
}
#audio-wave-line img{
    height: 100px;
    width: 250px;
    object-fit: cover;
    justify-self: center;
    margin-bottom: 20px;
}

.section.history {
    /* border: 2px solid black; */
    background-color: #FFF;
}
@media (min-width: 992px) {
    .section.history {
        width: 970px;
     }
}
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 3px;
    padding-bottom: 1px;
}

.section.history .row .timespan {
    grid-column: span 2;
    font-size: small;
    font-weight: normal;
    color: #555;
    padding-left: 5px;
    padding-top: 5px;
}

.section.history .row .hist-icon img {
    /* border: 2px solid tomato; */
    grid-column: span 1;   
    width: 120px;
    height: 120px;
}

.section.history .row .hist-icon {
    margin: auto;
}

.section.history .row .hist-info .hist-title {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: .1rem;
    color: #333;
    margin-bottom: 0;
}

.section.history .row .hist-info .hist-org {
    font-size: small;
    font-weight: normal;
    color: #888;
    margin-top: 0;
}

@media (max-width: 992px) {
    .section.history .row .hist-icon img {
        grid-column: span 1;   
        width: 50px;
        height: 50px;
    }

    .section.history .row .timespan {
        font-size: 10px;
    }
    .section.history .row .hist-info .hist-title {
        font-size: 15px;
    }
    .section.history .row .hist-info .hist-org {
        font-size: 10px;
    }
    .section.history .row .hist-info .hist-description {
        font-size: 12px;
    }
}

.section.history .row .hist-info {
    grid-column: span 9;
    padding-left: 10px;
}


.section.history .row .hist-info .hist-description {
    letter-spacing: 0.05em;
}
.section.history .row .hist-info .hist-description .hassets {
    position: relative;

}
.section.history .row .hist-info .hist-description .hasset {
    /* position: absolute; */
    top: 0;
    left: 50.5%;
    width: 25%;
}
#hod-pic {
    width: 100%;
}

.section.talks {
    background-color: #ebf6f7;
}
.section.talks .row {
    box-shadow: none;
}

.title {
    font-size: 36px;
    margin-bottom: 20px;
    letter-spacing: 0.06rem;
    margin-top: 40px;
}
.section.talks .row {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 30px;
}

.section.talks .row .card {
    grid-column: span 4;
    vertical-align: top;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    padding-bottom: 10px;
}
@media (max-width: 991px) {
    .card {
        grid-column: span 6;
    }
    .section.talks .row {
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    .section.talks .card .talk-desc {
        font-size: 8px;
    }
}
.section.talks .row {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.section.talks .row .card img {
    border-radius: 5px;
    padding: 2px;
    width: 100%;
    transition: 0.5s ease;
}

.section.talks .row .card img:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03) rotate(5deg);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 0%;
    transition: 0.2s ease;
}

.section.talks .row .card .talk-img {
    display: flex;
    flex-direction: column;
}

.section.projects .project-image {
    grid-column: span 3;
    vertical-align: top;
    margin: auto;
}
.section.projects .project-info {
    grid-column: span 9;
}

.section.projects .project-info .project-title {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: .1rem;
    color: #333;
    margin-bottom: 0;
}

.section.projects .project-info .project-desc {
    margin-top: 10px;
}

.section.projects .project-info .project-fund-org {
    font-size: small;
    font-weight: normal;
    color: #888;
    margin-top: 0;
}

@media (max-width: 991px) {
    .section.projects .project-image {
        grid-column: span 1;
        width: 50px;
        height: 50px;
    }

    .section.projects .project-image img {
        height: 100%;
        width: 100%;       
    }

    .section.projects .project-info {
        grid-column: span 11;
    }
    .section.projects .row {
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    .section.projects .project-info .project-title {
        font-size: 15px;
    }

    .section.projects .project-info .project-desc {
       font-size: 12px;
    }

    .section.projects .project-info .project-fund-org {
        font-size: 10px;
    }
}




.section.teaching {
    background-color: #ebf6f7;
}

.section.teaching .row .teach-info {
    grid-column: span 12;
    padding-left: 5px;
}
.section.teaching .row .teach-info .teach-course-code {
    font-size: medium;
    font-weight: normal;
    color: #4F4F4F;
    margin-top: 0;
}

@media (max-width: 991px) {
    .section.teaching .row .teach-info {
        font-size: 15px;
    }
    .section.teaching .row .teach-info .teach-course-code {
        font-size: 12px;
    }
}

.section.publications {
    /* background-color: #fffacd; */
    background-color: #EEEEFF;
}
.publication {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 2px 0px 5px 10px;
    margin-bottom: 10px;
}
.pub-title a {
    display: inline-block;
    color: #0CAFFF;
    font-size: medium;
    text-decoration: none;
    transition: transform 0.08s ease-in-out;
}

.pub-title a:hover {
    transform: scale(1.01);
    text-decoration: underline;
    color: #007FFF;

}
.pub-venue {
    color: #00AB66;
}
.pub-authors {
    margin-top: 5px;
    color: #ED2939;
}





